<h2>Log In</h2>

<%= form_with url: login_path, method: :post, local: true do %>
  <div class="mb-3">
    <%= label_tag :email %>
    <%= text_field_tag :email, nil, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= label_tag :password %>
    <%= password_field_tag :password, nil, class: "form-control" %>
  </div>

  <%= submit_tag "Log In", class: "btn btn-primary" %>
<% end %>
